name: unit-tests

on:
  pull_request:
    branches:
      - main
      - modify-a05
      - a06-aws-infra

jobs:
  terraform-init:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: "1.3.9"

      - name: Terraform Init
        run: terraform init
